$primary-color-1: hsl(179, 80, 58);
$primary-color-2: hsl(206, 84, 22);
$primary-color-3: hsl(225, 14, 53);

$secondary-color-1: hsl(0, 0, 100);
$secondary-color-2: hsl(230, 60, 8);

$error: hsl(343, 100, 58);

$breakpoints: (
  mobile: 480px,
  tablet: 768px,
);
