.home {
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.layout-1 {
  margin-top: 6.5rem;
  display: flex;
  justify-content: space-between;
  &::before {
    content: "";
    position: relative;
    left: -75px;
    display: block;
    height: 29rem;
    width: 29rem;
    background-image: url("../assets/illustration-hero-left.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  &::after {
    content: "";
    position: relative;
    right: -89px;
    top: 6px;
    display: block;
    height: 28rem;
    width: 29rem;
    background-image: url("../assets/illustration-hero-right.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  &__paragraph {
    position: relative;
    margin-top: 4.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 38%;
    &::before {
      content: "";
      position: absolute;
      top: -88px;
      z-index: -1;
      display: block;
      height: 24rem;
      width: 100%;
      background-image: url("../assets/bg-hero-squiggle.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
    &::after {
      content: url("../assets/icon-scroll.svg");
      margin-top: 4rem;
    }
  }
  @include tablet {
    margin-top: 4.3rem;
    &::before {
      left: 0px;
      height: 22rem;
      width: 33rem;
    }
    &::after {
      right: 1px;
      top: -1px;
      height: 22rem;
      width: 33rem;
    }
    &__paragraph {
      margin-top: 3rem;
      width: 62%;
      &::before {
        top: -233px;
        height: 44rem;
        width: 86%;
      }
      &::after {
        margin-top: 2rem;
      }
    }
    &__title {
      width: 85%;
    }
  }
  @include mobile {
    margin-top: 3.5rem;
    position: relative;
    &__paragraph {
      margin-top: 17.5rem;
      width: 100%;
      &::before {
        background-image: inherit;
      }
    }
    &__title {
      width: 65%;
    }
    &__body {
      width: 90%;
    }
    &::before {
      position: absolute;
      left: 0px;
      height: 14.5rem;
      width: 54%;
    }
    &::after {
      position: absolute;
      right: -36px;
      height: 14.5rem;
      width: 56%;
    }
  }
}
.layout-2 {
  margin-top: 12.4rem;
  width: 77%;
  &__ul {
    display: flex;
    justify-content: space-between;
  }
  &__list {
    width: 22.9%;
    &:nth-child(even) {
      margin-top: 3rem;
    }
  }
  &__paragraph {
    &::before {
      content: "";
      margin-bottom: 3rem;
      display: block;
      height: 10.2rem;
      width: 63%;
      max-width: 10rem;
      border-radius: 3rem;
      background-color: $primary-color-2;
      background-repeat: no-repeat;
      background-position: center;
    }
    &--passions-icon {
      &::before {
        background-image: url("../assets/illustration-passions.svg");
        background-size: 54%;
      }
    }
    &--financial-icon {
      &::before {
        background-image: url("../assets/illustration-financial-freedom.svg");
        background-size: 46%;
      }
    }
    &--lifestyle-icon {
      &::before {
        background-image: url("../assets/illustration-lifestyle.svg");
        background-size: 49%;
      }
    }
    &--remote-icon {
      &::before {
        background-image: url("../assets/illustration-work-anywhere.svg");
        background-size: 64%;
      }
    }
  }
  @include tablet {
    margin-top: 7rem;
    width: 75%;
    &__ul {
      flex-direction: column;
    }
    &__list {
      width: 90%;
      margin-bottom: 2.5rem;
      &:nth-child(even) {
        margin-top: 0;
      }
      &:nth-child(odd) {
        align-self: flex-end;
      }
    }
    &__paragraph {
      display: flex;
      justify-content: space-between;
      &::before {
        height: 7.8rem;
        width: 23.5%;
        margin-bottom: 0;
      }
      &--financial-icon {
        &::before {
          height: 7.7rem;
        }
      }
      &--lifestyle-icon {
        &::before {
          height: 7.75rem;
        }
      }
      &--remote-icon {
        &::before {
          height: 7.7rem;
        }
      }
    }
    &__container-1 {
      width: 66%;
      margin-top: 1.1rem;
    }
    &__body {
      margin-top: 0.7rem;
    }
  }
  @include mobile {
    margin-top: 8.75rem;
    width: 100%;
    &__list {
      margin-bottom: 3.5rem;
      width: 100%;
    }
    &__paragraph {
      flex-direction: column;
      align-items: center;
      text-align: center;
      &::before {
        margin-bottom: 0.8rem;
        width: 32.5%;
      }
      &--lifestyle-icon {
        &::before {
          height: 7.85rem;
        }
      }
      &--remote-icon {
        &::before {
          height: 7.85rem;
        }
      }
    }
    &__container-1 {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__body {
      width: 89%;
    }
  }
}
.layout-3 {
  margin-top: 12.7rem;
  width: 64%;
  &__paragraph {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__body {
    width: 60%;
  }
  &__container-1 {
    margin-top: 6.7rem;
    display: flex;
    justify-content: space-between;
  }
  &__plan {
    padding-left: 2.5rem;
    padding-top: 3.8rem;
    padding-right: 2.5rem;
    padding-bottom: 3rem;
    &--small {
      margin-top: 0.8rem;
      padding-bottom: 2.2rem;
      padding-top: 3rem;
    }
    width: 48.5%;
  }
}
