@font-face {
  font-family: "Manrope", sans-serif;
  @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap");
}
* {
  font-family: "Manrope", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: hidden;
}

body {
  background-color: #080c21;
  background-image: url("../assets/layout/Mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}

.paragraph--centered {
  text-align: center;
}
.paragraph__title {
  color: white;
  font-weight: 800;
}
.paragraph__title--large {
  font-size: 48px;
  line-height: 56px;
}
.paragraph__title--medium {
  font-size: 40px;
  line-height: 55px;
}
.paragraph__title--small {
  font-size: 32px;
  line-height: 40px;
}
.paragraph__title--xsmall {
  font-size: 18px;
  line-height: 25px;
}
.paragraph__emphase {
  color: #3eeae7;
}
.paragraph__body {
  margin-top: 1.5rem;
  color: #767f98;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
}
@media screen and (max-width: 768px) {
  .paragraph__title--large {
    font-size: 32px;
    line-height: 40px;
  }
}

.header {
  display: flex;
  justify-content: center;
}
.header__title {
  width: 77.1%;
  margin-top: 5rem;
}
@media screen and (max-width: 768px) {
  .header__title {
    width: 89.9%;
    margin-top: 3rem;
  }
}
@media screen and (max-width: 480px) {
  .header__title {
    text-align: center;
    margin-top: 2.5rem;
  }
}

.home {
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.layout-1 {
  margin-top: 6.5rem;
  display: flex;
  justify-content: space-between;
}
.layout-1::before {
  content: "";
  position: relative;
  left: -75px;
  display: block;
  height: 29rem;
  width: 29rem;
  background-image: url("../assets/illustration-hero-left.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.layout-1::after {
  content: "";
  position: relative;
  right: -89px;
  top: 6px;
  display: block;
  height: 28rem;
  width: 29rem;
  background-image: url("../assets/illustration-hero-right.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.layout-1__paragraph {
  position: relative;
  margin-top: 4.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 38%;
}
.layout-1__paragraph::before {
  content: "";
  position: absolute;
  top: -88px;
  z-index: -1;
  display: block;
  height: 24rem;
  width: 100%;
  background-image: url("../assets/bg-hero-squiggle.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.layout-1__paragraph::after {
  content: url("../assets/icon-scroll.svg");
  margin-top: 4rem;
}
@media screen and (max-width: 768px) {
  .layout-1 {
    margin-top: 4.3rem;
  }
  .layout-1::before {
    left: 0px;
    height: 22rem;
    width: 33rem;
  }
  .layout-1::after {
    right: 1px;
    top: -1px;
    height: 22rem;
    width: 33rem;
  }
  .layout-1__paragraph {
    margin-top: 3rem;
    width: 62%;
  }
  .layout-1__paragraph::before {
    top: -233px;
    height: 44rem;
    width: 86%;
  }
  .layout-1__paragraph::after {
    margin-top: 2rem;
  }
  .layout-1__title {
    width: 85%;
  }
}
@media screen and (max-width: 480px) {
  .layout-1 {
    margin-top: 3.5rem;
    position: relative;
  }
  .layout-1__paragraph {
    margin-top: 17.5rem;
    width: 100%;
  }
  .layout-1__paragraph::before {
    background-image: inherit;
  }
  .layout-1__title {
    width: 65%;
  }
  .layout-1__body {
    width: 90%;
  }
  .layout-1::before {
    position: absolute;
    left: 0px;
    height: 14.5rem;
    width: 54%;
  }
  .layout-1::after {
    position: absolute;
    right: -36px;
    height: 14.5rem;
    width: 56%;
  }
}

/*# sourceMappingURL=style.css.map */
